/hw/homework4/.vscode
/hw/homework4/myenv
/hw/homework5/__pycache__
/hw/homework5/ai_venv
/day6/movie_venv
/hw/homework5/
/hw/sub_homework5/memo_env
/openai/ai_env
/venv
day4/project/bookreview/book_review_env/
day4/project/alonememo/myenv/
day4/project/prac/flaskenv/